@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html{
    margin: 0;
    padding: 0;

}
body{
    overflow-y: hidden;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif !important;
}
.orange-bg{
    background-color: rgb(249, 99, 44);
}
.outlined-box {
    border: 1px solid #000;
    position: relative;
    padding: 2vw 3vw;
}
.btlined-box{
    border-bottom: 1px solid #000;
}
.tlined-box{
    border-top: 1px solid #000;
}
.rlined-box{
    border-right: 1px solid #000;
}
.llined-box{
    border-left: 1px solid #000 !important;
}
.xlined-box{
    border-left: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
}
.mw-700{
    max-width: 700px !important;
}
.mobile-VideoSection{
    border-right: none !important;
    border-bottom: 1px solid #000;
    width: 100% !important;
}
.iframe-container {
	position: relative;
    width: 100%;
    height: 100%;
	overflow: hidden;
}
 
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

input:focus { outline: none; background: none;}

.btn-input {background: none; outline: none; border: none;}

.li-style{
    min-height: 57px;
    position: absolute;
}

#search-section{
    height: 57px;
}

.position-to-top{
    width: 100%;
    position: absolute;

    top: -56px;
}
.seektotime:hover{
    background-color: rgb(206, 206, 206);
    text-decoration-line: none;
    color: rgba(0, 0, 0, 0.9);
}
.class-frequenty-word:hover{
  background-color: rgb(206, 206, 206);
  text-decoration-line: none;
  color: rgba(0, 0, 0, 0.9);
}
.class-frequenty-word{
  font-weight: bold;
}
.ul-scroll{
    overflow-x: hidden;
}
.ul-scroll::-webkit-scrollbar {
    width: 10px;
}
.ul-scroll::-webkit-scrollbar-thumb {
    background-color: #2f3542;
}
.ul-scroll::-webkit-scrollbar-track {
    background-color: grey;
}

@-webkit-keyframes dot-keyframes {
  0% {
    opacity: 0.4;
    transform: scale(1, 1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }
  100% {
    opacity: 0.4;
    transform: scale(1, 1);
  }
}
@keyframes dot-keyframes {
  0% {
    opacity: 0.4;
    transform: scale(1, 1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }
  100% {
    opacity: 0.4;
    transform: scale(1, 1);
  }
}
.loading-dots {
  text-align: center;
  width: 100%;
}
.loading-dots--dot {
  -webkit-animation: dot-keyframes 1.5s infinite ease-in-out;
          animation: dot-keyframes 1.5s infinite ease-in-out;
  background-color: #000;
  border-radius: 10px;
  display: inline-block;
  height: 10px;
  width: 10px;
}
.loading-dots--dot:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.loading-dots--dot:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

  .highlight{
    background-color: rgb(203, 223, 183);
  }

  a {
    text-decoration-line: none;
    color: rgba(0, 0, 0, 0.9);
  }